.title {
  font-size: 32px;
  padding: 0;
  margin-bottom: 0;
  line-height: 1;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.subtitle {
  margin-top: 2px;
  font-size: 17px;
  color: #ffcc99;
}

.experienceBox {
  display: flex;
  align-items: flex-start; /* Aligns items at the top */
  width: 100%;
  justify-content: space-between;
  padding-bottom: 15px;

  margin-bottom: 15px;
}

.experienceTitleText {
  font-size: 17px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0px;
  opacity: 0.7;
}

.leftSide {
  flex: 1; /* Make leftSide flexible */
  max-width: 200px; /* Limit max width for consistent layout */
}

.dateExp {
  font-size: 17px;
  font-weight: 500;
  margin-top: 15px;
  opacity: 0.7;
  color: #f4f4f4;
}

.rightSide {
  flex: 3; /* Give more space to rightSide */
  display: flex;
  flex-direction: column;
}

.experienceDescription {
  width: 100%;
}

.blankSpace {
  width: 20px; /* Reduce blank space for better alignment */
}

.experienceDescriptionContent {
  line-height: 1.8;
  font-weight: 500;
}
.experienceTools {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-left: 0;
  padding-top: 0;
}

.expToolContainer {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to next line when items exceed available width */
  gap: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expTool {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  font-weight: 500;
  color: #333;
  transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
  margin-left: 0;
  background: none;
  max-width: 120px; /* Set a reasonable maximum width to ensure wrapping */
  flex: 1 1 auto; /* Allows flexibility in size and ensures proper wrapping */
}

.expTool:hover {
  transform: translateY(-3px);
  background: linear-gradient(to right, #ffcc99, #ff66b2);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

