@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --polkadot-color: #797a87;
  --background-white: #222224;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-white);
  opacity: 1;
  background-image: radial-gradient(var(--polkadot-color) 0.5px, var(--background-white) 0.5px),
                    radial-gradient(var(--polkadot-color) 0.5px, var(--background-white) 0.5px);
  background-size: 25px 25px;
  background-position: 0 0, 10px 10px;
  color: white;
}

.body-title {
  margin-top: 4em;
  font-size: 35px;
  margin-bottom: 0;
}

.body-name-title {
  margin-top: 4.5em;
  font-size: 32px;
  margin-bottom: 0;
}

.body-subline {
  font-size: 17px;
  color: #c3c3c3;
  line-height: 1.8;
}

#job {
  font-size: 40px;
  background: linear-gradient(to right, #ffcc99, #ff66b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body-subtitle {
  margin-top: 0;
  font-size: 20px;
}

.flex {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.navbarBox {
  flex: 0 0 200px; /* Fixed width or adjust as needed */
}

.rightBox {
  flex: 1 1 800px; /* Adjust as needed */
  max-width: 800px;
  padding: 0 20px; /* Add padding for spacing */
}

.blankSpaceLeft,
.blankSpaceRight {
  display: none; /* Remove blank spaces */
}

.buttonsUnderName {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 25px;
}

.btn {
  margin: 0;
  border-radius: 20px;
  border: none;
  height: 40px;
  padding: 0 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
  background-color: #6d6d6d66;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #5a5a5a;
  transform: scale(1.05);
  opacity: 0.9;
}

.icons {
  font-size: 20px;
  color: white;
  margin-right: 5px;
}

#line {
  opacity: 0.2;
  height: 1px;
  width: 90%;
  background-color: white;
  margin: 15px 0;
}

#resumeBtn {
  background: linear-gradient(to right, #ffcc99, #ff66b2);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }

  .navbarBox {
    /* width: 100%; */
    display: none;
  }

  .rightBox {
    width: 100%;
    padding: 0 15px;
  }

  .body-name-title {
    margin-top: 2em;
    font-size: 24px;
    text-align: center;
  }

  #job {
    font-size: 28px;
    text-align: center;
  }

  .body-subline {
    font-size: 16px;
    text-align: center;
  }

  .buttonsUnderName {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: nowrap;
    gap: 1px;
  }

  .btn {
    width: 90%;
    justify-content: center;
    margin-bottom: 10px;
  }

  #line {
    width: 100%;
  }
}
